@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'PT Serif', serif;
}

body {
  padding: 5px;
  background-color: #20232a;
}
.container {
  max-width: 75%;
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  display: flex;
}
header {
  background-color: #20232a;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}

.brand {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.sidebar {
  background-color: #f7f7f7;
  height: 100vh;
  width: 25%;
  border-right: 3px solid red;
}

.nav {
  margin-top: 15px;
}
.nav-item-link {
  cursor: pointer;
  width: 100%;
}
.nav-item {
  list-style: none;
  font-size: 20px;
  margin-left: 15px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.sidebar-title {
  text-align: center;
  border-bottom: solid 3px red;
  width: 80%;
  padding-top: 10px;
  margin: 0 auto;
  /* padding: 5px 0; */
}

main {
  width: 80%;
  position: relative;
}

.main-title {
  text-align: center;
  margin: 10px auto;
  width: 90%;
}
.main-des {
  text-align: center;
  padding-bottom: 10px;
}

.task-list {
  padding-top: 10px;
  padding-left: 30px;
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label-task {
  margin-left: 5px;
}
.task {
  font-size: 18px;
  border-left: 5px solid red;
  padding: 3px 10px;
  margin: 10px 0;
}
input[type='checkbox'] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  margin-right: 10px;
}
.date {
  font-style: italic;
  color: #1234dad6;
}

.task-success {
  text-decoration: line-through;
  font-weight: bold;
}

.btn-add-task {
  position: absolute;
  width: 160px;
  top: 0;
  right: 0;
  display: block;
  /* margin-top: 10px; */
  text-align: left;
  padding: 10px 20px;
  /* border-radius: 5px; */
  cursor: pointer;
  border-color: transparent;
  margin: 0 auto;
  background-color: #424242;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-add-task i,
.btn-add-project i {
  margin-right: 10px;
}

.btn-add-project {
  text-align: left;
  padding: 10px 20px;
  /* border-radius: 5px; */
  cursor: pointer;
  border-color: transparent;
  margin-top: 15px;
  background-color: #424242;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

form {
  margin-top: 10px;

  width: 100%;
}

input[type='text'],
input[type='date'],
textarea {
  display: block;
  padding: 8px;
  margin: 5px auto;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  border-color: transparent;
}

input[type='text'],
input[type='date'] {
  min-width: 400px;
}

textarea {
  margin-top: 10px;
  min-width: 400px;
}

.btn {
  padding: 5px 8px;
  border-color: transparent;
  cursor: pointer;
}

.btn-submit-project {
  min-width: 150px;
  background-color: #424242;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.btn-submit-project:active,
.btn-submit-project:hover,
.btn-add-project:active,
.btn-add-project:hover,
.btn-add-task:active,
.btn-add-task:hover {
  background-color: #424242d6;
}

.btn-form-container {
  margin-top: 15px;
  text-align: center;
}

#title-main-project {
  color: red;
}

.btn-task-delete {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}
.task:hover {
  font-size: 22px;
  animation: scaleFontSize;
  animation-duration: 500ms;
}

.btn-delete-project {
  float: right;
  margin-right: 10px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  background-color: transparent;
  padding: 5px;
  z-index: 1;
}
.btn-delete-project i {
  visibility: hidden;
}
.nav-item:hover i {
  visibility: visible;
}

.nav-item-link i {
  margin-right: 10px;
}
@media (max-width: 780px) {
  .container {
    flex-direction: column;
    max-width: 100vw;
    text-align: center;
  }
  .sidebar {
    width: 100%;
    border-right: 3px solid transparent;
    border-bottom: 3px solid red;
    height: auto;
  }
  .btn-add-project {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  .btn-add-task {
    margin-top: 10px;
    width: 100%;
  }
  main {
    width: 100%;
  }
  .task-list {
    padding-left: 5px;
  }
  input[type='text'],
  input[type='date'],
  textarea {
    min-width: 100%;
    margin: 10px;
  }
  .btn-submit-project {
    margin-bottom: 10px;
  }
}

@keyframes scaleFontSize {
  from {
    font-size: 18px;
  }
  to {
    font-size: 22px;
  }
}
